@font-face {
  font-family: "Merriweather-Black";
  src: url("../fonts/Merriweather-Black/Merriweather-Black.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Merriweather-Black/Merriweather-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Black/Merriweather-Black.woff2") format("woff2"), url("../fonts/Merriweather-Black/Merriweather-Black.woff") format("woff"), url("../fonts/Merriweather-Black/Merriweather-Black.ttf") format("truetype"), url("../fonts/Merriweather-Black/Merriweather-Black.svg#Merriweather-Black") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}