// .karkas {
//   display: flex;
//   border: 1px solid black;
//   min-height: 400px;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

// .karkas-item {
//   width: 100px;
//   height: 100px;
//   text-align: center;
//   line-height: 100px;
//   color: white;
//   background-color: green;
//   border: 1px solid red;
// }

div{
  outline: 1px solid red;
}

.row{
  outline: 1px solid green;
}

.dflex{
  display: flex;
  align-items: center;
  justify-content: center;
}